.hero-container {
  display: flex;
  margin: 0 2rem;
  /* margin-top: 1rem; */
  position: relative;
}
.hero-info {
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.hero-image {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
.hero-image {
  display: flex;
}
.hero-image img {
  height: 700px;

  /* width: 5vw; */
}
.hero-info {
  display: flex;
}
.hero-btn-ex button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: CircularStd;
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: #f85e9f;
  border-radius: 0.85rem;
  box-shadow: 0 10px 15px #0d0d0e1e;
}
.hero-btn-ex button img {
  margin-left: 0.8rem;
}
.hero-btn button {
  min-width: 150px;
}
.hero-btn,
.hero-btn-new {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-btn-new {
  margin-left: 1rem;
  padding: 0.8rem;
}
.hero-btn-new:hover {
  color: #eeeeee;
  background-color: #5d50c6;
  cursor: pointer;
  border-radius: 0.85rem;
}
.hero-btn-new img {
  margin-right: 0.3rem;
  border-radius: 50%;
}

.hero-info-content h1 {
  font-size: 3.5rem;
  line-height: 5rem;
  font-family: CircularStd;
  font-weight: 700;
}
.hero-info-content h1 span {
  color: #f85e9f;
}
.hero-info-content p {
  color: #19182580;
}
.design-1 {
  position: absolute;
  bottom: -55px;
  left: -100px;
}
.design-1 img {
  height: 150px;
}

@media (max-width: 1024px) {
  .hero-image img {
    height: 600px;
  }
  .hero-info-content h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .hero-btn-new {
    margin-left: 0.8rem;
    min-width: 150px;
  }
}

@media (max-width: 900px) {
  .hero-image img {
    height: 400px;
  }
  .hero-info-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-wrap: wrap-reverse;
    margin: 0;
  }
  .hero-image {
    flex: 1;
    justify-content: center;
  }
  .hero-info-content h1 {
    text-align: center;
  }
  .hero-info {
    align-items: center;
    gap: 2rem;
  }
  .hero-info-content p {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .hero-image img {
    height: 335px;
  }
  .hero-btn button,
  .hero-btn-new {
    min-width: 80vw;
    margin: 0.3rem 0;
    border-radius: 2rem !important;
  }
  .hero-btn {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .hero-image img {
    height: 300px;
  }
}
