.nav-btn2 {
  color: #eeeeee;
  background-color: #5d50c6;
  border: none;
  padding: 1rem;
  font-size: 0.9rem;
  margin: 0.2rem;
  font-weight: 600;
  border-radius: 0.95rem;
  min-width: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.5px solid transparent;
  box-shadow: 0px 5px 20px #0000004b;
}
.nav-btn2:hover {
  color: black;
  background-color: white;
  border: 0.5px solid black;
}
